//
//  Config.xcconfig
//  OnionBrowser
//
//  Created by Benjamin Erhart on 21.01.19.
//  Copyright © 2012 - 2024, Tigas Ventures, LLC (Mike Tigas)
//

// Avoid accidental checkins:
// git update-index --skip-worktree Config.xcconfig
// git update-index --no-skip-worktree Config.xcconfig


// Personal build: Xcode Automatic Signing will select your Apple Developer Team.
// Change the bundle identifier in Xcode if this identifier is already registered.
PRODUCT_BUNDLE_IDENTIFIER[config=Debug] = com.bronsonstowersai.OnionBrowser
DEVELOPMENT_TEAM[config=Debug] =
PROVISIONING_PROFILE_SPECIFIER[config=Debug] =

PRODUCT_BUNDLE_IDENTIFIER[config=Release] = com.bronsonstowersai.OnionBrowser
DEVELOPMENT_TEAM[config=Release] =
PROVISIONING_PROFILE_SPECIFIER[config=Release] =
